# Configuration file

main {
    # Overrides list of enchantments you can apply on item via combining with enchanted book, format mod:item[mod:enchantment1,mod:enchantment2,...]
    S:"Allowed on anvil" <
        minecraft:iron_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:frost_walker,minecraft:depth_strider]
        minecraft:golden_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:frost_walker,minecraft:depth_strider]
        minecraft:diamond_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:frost_walker,minecraft:depth_strider]
     >

    # Overrides list of enchantments you can apply on item via enchanting table, format mod:item[mod:enchantment1,mod:enchantment2,...]
    S:"Allowed on table" <
        minecraft:iron_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:depth_strider]
        minecraft:golden_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:depth_strider]
        minecraft:diamond_horse_armor[minecraft:protection,minecraft:projectile_protection,minecraft:blast_protection,minecraft:fire_protection,minecraft:feather_falling,minecraft:aqua_affinity,minecraft:depth_strider]
     >

    # List of items, which can be placed to bookshelves
    S:"Book items" <
        minecraft:book
        minecraft:written_book
        minecraft:writable_book
        minecraft:enchanted_book
        minecraft:knowledge_book
     >

    # Sets enchantability value for any item (setting it for non-enchantable item will make it enchantable)
    S:"Enchantability customization" <
        minecraft:shield,1
        minecraft:iron_horse_armor,9
        minecraft:golden_horse_armor,25
        minecraft:diamond_horse_armor,10
     >

    # Wheather or not will enchanted books in bookshleves increase probability of you getting corresponding enchantment
    B:"Enchanted book effect"=true

    # Last version the config was loaded in. Necessary to update the config
    S:Version=1.0
}


